<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Cogmento CRM Automation" >

	<listeners>
		<listener
			class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>

	<test name="Cogmento CRM App test cases">
		<classes>
			<class name="com.orangehrm.testcases.LoginPageTest" />
			<class name="com.orangehrm.testcases.HomePageTest" />
			<class name="com.orangehrm.testcases.ContactsPageTest" />
		</classes>
	</test>
</suite>

<!-- parallel="classes" thread-count="2" -->